:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --nav-background: #a7ffeb;
    --main-background: #84ffff;
    --sidenav-background: #18ffff;
    --footer-background: #1de9b6;
    --content-1-background: #6fffd2;
    --content-2-background: #64ffda;
    --content-3-background: #73ffba;
    --card-primary-background: #fff;
}