@import "variables";
@import "grid";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-y: hidden;
  border: 1px solid #DCDCDC;
  height: 100%;
}

.container {
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  height: calc(100% - 32px);
  margin-top: 32px;
}

.card{
  padding: 20px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #234361;
}

.title{
    font-weight: 400;
    padding: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #234361;
}
